<div class="row">
    <div class="col-md-12">
        <h3>No te pierdas ninguna actualizaci&oacute;n</h3>
        <p>Suscribete a la lista de correo y recibe nuestras novedades.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//tamalesconpasaporte.us10.list-manage.com/subscribe/post?u=30b9fd87f70a61f35bd017ad2&amp;id=c2dea4c4f0" method="post"
                  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" style="text-align: center">
                    <div class="mc-field-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-2x"></i></span>
                            <input type="email" value="" name="EMAIL" class="required email input-lg" id="mce-EMAIL"
                                   style="width: 80%"
                                   placeholder="Tu correo electronico" />
                        </div>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_30b9fd87f70a61f35bd017ad2_c2dea4c4f0" tabindex="-1" value=""></div>
                    <br />
                    <div class="clear">
                        <input type="submit" value="Suscribirte" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg btn-block">
                    </div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->
    </div>
</div>