<nav class="navbar navbar-default" role="navigation" id="main-navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tnavbar">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Tamales con Pasaporte</a>
        </div>
        <div class="collapse navbar-collapse" id="tnavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/mapa/" title="Mapa Mundial">
                        <i class="fa fa-globe"></i><span class="sr-only">&nbsp;Mapa</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Lista de pa&iacute;ses&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/tag/alemania">Alemania</a></li>
                        <li><a href="/tag/austria">Austria</a></li>
                        <li><a href="/tag/belgica">B&eacute;lgica</a></li>
                        <li><a href="/tag/colombia">Colombia</a></li>
                        <li><a href="/tag/corea-del-sur">Corea del Sur</a></li>
                        <li><a href="/tag/china">China</a></li>
                        <li><a href="/tag/espana">Espa&ntilde;a</a></li>
                        <li><a href="/tag/estados-unidos">Estados Unidos de Am&eacute;rica</a></li>
                        <li><a href="/tag/filipinas">Filipinas</a></li>
                        <li><a href="/tag/francia">Francia</a></li>
                        <li><a href="/tag/grecia">Grecia</a></li>
                        <li><a href="/tag/hong-kong">Hong Kong</a></li>
                        <li><a href="/tag/holanda">Holanda</a></li>
                        <li><a href="/tag/india">India</a></li>
                        <li><a href="/tag/italia">Italia</a></li>
                        <li><a href="/tag/japon">Jap&oacute;n</a></li>
                        <li><a href="/tag/macao">Macao</a></li>
                        <li><a href="/tag/malasia">Malasia</a></li>
                        <li><a href="/tag/marruecos">Marruecos</a></li>
                        <li><a href="/tag/mexico">M&eacute;xico</a></li>
                        <li><a href="/tag/panama">Panama</a></li>
                        <li><a href="/tag/reino-unido">Reino Unido</a></li>
                        <li><a href="/tag/republica-checa">Rep&uacute;blica Checa</a></li>
                        <li><a href="/tag/suiza">Suiza</a></li>
                        <li><a href="/tag/tailandia">Tailandia</a></li>
                        <li><a href="/tag/turquia">Turqu&iacute;a</a></li>
                        <li><a href="/tag/vietnam">Vietnam</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Categor&iacute;as&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/paises/">Pa&iacute;ses</a></li>
                        <li><a href="/tag/guiaciudad/">Gu&iacute;as de Ciudad</a></li>
                        <li><a href="/tag/gastronomia/">Gastronom&iacute;a</a></li>
                        <li><a href="/tag/atracciones/">Atracciones</a></li>
                        <li><a href="/tag/tours/">Tours</a></li>
                        <li><a href="/tag/museos/">Museos</a></li>
                        <li><a href="/tag/miniguia/">Minigu&iacute;as</a></li>
                    </ul>
                </li>
                <li><a href="/nosotros/">Nosotros</a></li>
                <li><a href="/recursos/">Recursos</a></li>
            </ul>
        </div>
    </div>
</nav>