---
layout: default
---

{% assign author = site.authors[page.author] %}

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 posts">
                <article class="post">
                    <div class="post-header">
                        <div class="post-title">
                            <h2>{{page.title}}</h2>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>
                            {{content}}
                        </p>
                    </div>
                    <hr />
                    <hr />
                    <div class="post-meta">
                        <div class="share-icons">
                            Compartir: <i class="fa fa-share"></i>
                            <ul class="list-inline list-share-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook fb-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter tw-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus gp-tooltip"></i></a>
                                </li>
                            </ul>
                        </div>
                        <hr class="divider" />

                        {% include mailchimp.html %}

                        <hr class="divider" />

                        <div class="text-center hidden-sm hidden-xs">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Tamal -->
                            <div style="text-align: center">
                                <ins class="adsbygoogle"
                                     style="display:inline-block;width:728px;height:90px"
                                     data-ad-client="ca-pub-7312968410890852"
                                     data-ad-slot="2217745225"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


