---
layout: default
---

{% assign author = site.authors[page.author] %}

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 posts">
                <article class="post">
                    <div class="post-header">
                        <div class="post-title">
                            <h2>{{page.title}}</h2>
                        </div>
                        <hr class="divider" />
                        <div class="post-date hidden-sm hidden-xs">
                            <span title="{{page.date | date:"%Y" }}">{{page.date | date:"%d"}}</span>
                            {{page.date | date:"%B"}}
                        </div>
                    </div>
                    <div class="post-content">
                        <p>
                            {{content}}
                        </p>
                    </div>
                    <hr />

                    <div class="hidden-sm hidden-xs">
                        <p>Continua leyendo m&aacute;s art&iacute;culos sobre: </p>
                        <ul class="list-inline list-post-tags">
                            {% for tag in page.tags %}
                            <li><a href="/tag/{{tag}}">#{{tag}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="post-meta">
                        Fecha: {{page.date | date_to_string}} - Autor: <span class="author-name">{{author.name}}</span>
                        <br />
                        <div class="share-icons">
                            Compartir: <i class="fa fa-share"></i>
                            <ul class="list-inline list-share-icons">
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook fb-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter tw-tooltip"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ site.url }}{{page.url}}"
                                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus gp-tooltip"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                    {% include mailchimp.html %}

                    <div class="row">
                        <div class="col-md-12">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = 'tamalesconpasaporte';
                                var disqus_identifier = '{{page.id}}';
                                var disqus_config = function () {
                                    this.language = "es";
                                };

                                /* * * DON'T EDIT BELOW THIS LINE * * */
                                (function () {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                            <p>
                                Continua leyendo con nostros. Podrian interesarte los siguientes art&iacute;culos.
                            </p>
                        </div>
                        {% if page.previous %}
                        <div class="col-md-6" style="padding: 0;min-height: 200px; overflow: hidden">
                            <div style="background-image: url({{page.previous.image}}); background-size: cover; opacity: 0.4;float: right;width: 100%;min-height: 200px; border-radius: 20px 0 0 20px;"></div>
                            <div style="position: absolute;margin: 10px;">
                                <h2><a href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
                                <p>{{page.previous.excerpt | strip_html}}...</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.next %}
                        <div class="col-md-6" style="padding: 0;min-height: 200px; overflow: hidden">
                            <div style="background-image: url({{page.next.image}}); background-size: cover; opacity: 0.4;float: right;width: 100%;min-height: 200px; border-radius: 0 20px 0 20px;"></div>
                            <div style="position: absolute;margin: 10px;">
                                <h2><a href="{{page.next.url}}">{{page.next.title}}</a></h2>
                                <p>{{page.next.excerpt | strip_html}}...</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <div class="about">
                    <div class="author-image" style="border: 0">
                        <img src="{{author.image}}" alt="{{author.name}}" title="{{author.name}}" />
                    </div>
                    <div class="author-info">
                        <h2>{{author.name}}</h2>
                        <p class="hidden-sm hidden-xs">
                            {{author.bio}}
                        </p>
                    </div>

                    <hr class="divider">

                    <h3>Etiquetas</h3>

                    <p>Encuentra m&aacute;s art&iacute;culos sobre:</p>

                    <ul class="list-inline list-post-tags">
                        {% for tag in page.tags %}
                        <li><a href="/tag/{{tag}}">#{{tag}}</a></li>
                        {% endfor %}
                    </ul>

                    <hr class="divider">

                    <div style="text-align: center" class="hidden-sm hidden-xs">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Tamalbox -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:290px;height:600px"
                             data-ad-client="ca-pub-7312968410890852"
                             data-ad-slot="1025056821"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>